*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #466362;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 9vmin;
    font-weight: bolder;
    color: #7d5e39;
    cursor: pointer;
    background-color: #938581;
}

.heading{
    font-size: 7vmin;
    margin-top: 5vmin;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #736152;
    color: white;
    border: none;
    border-radius: 1.5vmin;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #736152;
    border: none;
    border-radius: 1.5vmin;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#msg{
    font-size: 7vmin;
    color: white;
}

.msg-container{
    height:  35vmin;
    gap: 7vmin;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}